<%- include('./header.ejs') %>
<h1>About Page</h1>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, iusto
  alias! Mollitia est ea natus dolorum explicabo, quasi adipisci placeat
  quisquam fuga sunt itaque id, sapiente nulla, vel nam obcaecati deserunt!
  Architecto fugiat asperiores nobis animi, et officiis veniam accusantium ipsam
  quia reprehenderit id pariatur molestias rem dolores neque repellendus.
</p>

<%- include('./footer.ejs') %>
